* {
    margin: 0;
    padding: 0;
}

html,
body,
.ogame {
    overflow: hidden;
    height: 100%;
    position: relative;
}

#webgl {
    outline: none;
    display: block;
    width: 100%!important;
    height: 100%!important;
    //max-width: 400px!important;
    //max-height: 300px!important;
}

.dice-layout { 
    top: 50%;
    right: 10px;
    height: 30%;
    opacity: 0;
    position: fixed;
    transform: translateY(-50%);

    > img#diceFaces {
        height: 100%;
    }
}

.dice-top-layer-highlight {
    top: 12.25%;
    right: 32%;
    height: 25.5%;
    opacity: 0.8;
    position: absolute;
    transform: translateY(-50%);
}

#backToMenuButton {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.25rem 1.25rem;
    width: 6rem;
    opacity: 1;
    display: block;

    &:hover {
        cursor: pointer;
    }
}

.selection--disabled {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.fading-bg {
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    font-style: italic;
    position: fixed;
    color: white;
    bottom: 20px;
    left: 50%;
    opacity: 0;
    //opacity: 0.8;
    min-width: 500px;
    transform: translateX(-50%);
    padding: 1rem 1.5rem;
    filter: contrast(200%) brightness(300%);
    //linear-gradient(0deg, rgba(37,37,45,0.9) 0%, rgba(0,0,0,0) 50%, rgba(37,37,45,0.9) 100%),
    background:
      linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(37,37,45,0.8) 50%, rgba(0,0,0,0) 100%),
      //linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(37,37,45,0.3) 30%, rgba(37,37,45,0.3) 70%, rgba(0,0,0,0) 100%),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 344 344' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.15' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='0.05' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    border-right: 2px;
    border-left: 2px;
    border-style: solid;
    border-color: #3e3a3a08;
    border-radius: 1rem;

    img {
        display: inline-block;
    }
}

.game-phase {
    text-align: center;
    font-style: italic;
    font-size: 60px;
    bottom: 50%;
    width: 80%;
    transform: translate(-50%, 50%);
    filter: contrast(500%) brightness(500%);
    //linear-gradient(0deg, rgba(37,37,45,0.9) 0%, rgba(0,0,0,0) 50%, rgba(37,37,45,0.9) 100%),
    background:
      linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(37,37,45,0.8) 30%, rgba(37,37,45,0.8) 70%, rgba(0,0,0,0) 100%),
          //linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(37,37,45,0.3) 30%, rgba(37,37,45,0.3) 70%, rgba(0,0,0,0) 100%),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 344 344' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.15' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='0.01' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    border-radius: 1rem;
}

